# Create a free PostgreSQL database: https://vercel.com/postgres
POSTGRES_PRISMA_URL=""
POSTGRES_URL_NON_POOLING=""

# Follow the instructions here to create a Google OAuth app: https://refine.dev/blog/nextauth-google-github-authentication-nextjs/#for-googleprovider-make-sure-you-have-a-google-account
GOOGLE_CLIENT_ID=""
GOOGLE_CLIENT_SECRET=""

# Only for production – generate one here: https://generate-secret.vercel.app/32
NEXTAUTH_SECRET=""
NEXTAUTH_URL=""

#check here https://docs.lemonsqueezy.com/guides/developer-guide/getting-started
LEMONSQUEEZY_API_KEY=""
LEMONSQUEEZY_STORE_ID=""

#these can be different for your product
NEXT_PUBLIC_LEMONSQUEEZY_MONTH_PRODUCT_ID=""
NEXT_PUBLIC_LEMONSQUEEZY_YEAR_PRODUCT_ID=""
LEMONSQUEEZY_WEBHOOK_SECRET=""

# check here https://resend.com/docs/api-reference/api-keys/create-api-key
RESEND_APIKEY=""
RESEND_EMAIL_FROM=""

